:root {
  --color-primary: #2E322D;
  --color-secondary: #b9b59f;
  --color-background: #e5e9e9;

  --color-body: color-mix(
    in srgb,
    var(--color-primary) 80%,
    var(--color-background)
  );

  --base-font-family: Inter, serif;
  --title-font-family: "Noto Serif", serif;
  --tagline-font-family: "Reenie Beanie", cursive;
  --columns: 24;
  --column-width: calc(100vw / var(--columns));

  font-family: var(--base-font-family);
  letter-spacing: -0.02rem;
  line-height: 1.5;
  font-weight: 350;

  color: var(--color-body, rgba(45, 54, 47, 0.8));
  background-color: var(--color-background);

  font-synthesis: none;
  font-optical-sizing: auto;
  font-feature-settings: "dlig" on;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-family);
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: 350;
  color: var(--color-primary);
  text-wrap: balance;
}

h1 {
  font-size: 2rem;
  
  @media (width > 768px) {
    font-size: 3rem;
  }
}

.title{
  &__main,
  &__sub {
    grid-column: 1 / -1;
    font-family: var(--title-font-family, 'Suisse Int', sans-serif);
    font-weight: 350;
    color: var(--color-primary);
    text-wrap: balance;
  }

  &__main {
    font-size: 2rem;
  
    @media (width > 768px) {
      font-size: 3rem;
    }
  }

  &__sub {
    font-size: 1.4rem;
    color: color-mix(
      in srgb,
      var(--color-primary) 70%,
      var(--color-background)
    );
  
    @media (width > 768px) {
      font-size: 2rem;
    }
  }
}

.logo {
  &__wordmark {
    aspect-ratio: 448 / 275;
    display: block;
    width: 100%;
    height: auto;
  }
}

.section {
   

  &--full-width,
  &--padding-full-width {
    grid-column: 1 / -1;
  }
  
  &--padding-full-width {
    padding-inline: var(--column-width);
  }
}

p {
  a { 
    color: var(--color-primary,#2E322D);
  }
}

html {
	scroll-timeline: --page-scroll block;
}